<h2>Estadísticas de {{ this.tournamentName }}</h2>
<br>

<!-- Repeat for each section with ngFor -->

<div class="accordion">
    <div class="accordion-item" *ngFor="let elem of this.matchesOfAllSeries; index as i">
        <h2 class="accordion-header" id="{{ i }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                {{ elem.serie }}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
            <div class="accordion-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">Equipo 1</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Equipo 2</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let m of elem.matches">
                        <tr class="table-active">
                            <td>{{ m.Team1 }}</td>
                            <td>{{ m.GoalsTeam1 }}</td>
                            <td>{{ m.GoalsTeam2 }}</td>
                            <td>{{ m.Team2 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>