<h2>Estadísticas de {{ this.tournamentName }}</h2>
<br>

<!-- Repeat for each section with ngFor -->

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Accordion Item #1
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum perferendis nostrum impedit ut fugit quibusdam. Mollitia dolorum fugit, cupiditate, minus omnis sunt magnam cumque adipisci explicabo ratione iure id officia?
            </div>
        </div>
    </div>
    
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Accordion Item #2
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum perferendis nostrum impedit ut fugit quibusdam. Mollitia dolorum fugit, cupiditate, minus omnis sunt magnam cumque adipisci explicabo ratione iure id officia?
            </div>
        </div>
    </div>
</div>